.title__modal {
    width: 100%;
    text-align: center;
}

.box__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    width: 250px;
    height: 50px;
    font-size: 22px;
}
.format_uni {
    margin-left: 100px;
}
.format_major {
    margin-left: 50px;

}
.format_subject {
    margin-left: 86.5px;

}
.format_question {
    margin-left: 77px;

}
.format_time {
    margin-left: 63.5px;

}
.format_method {
    margin-left: 38px;

}
.format_num {
    margin-left: 11px;

}