.container {
    margin-top: 50px;
   
}
.content {
    display: flex;
    justify-content: center;

}
.card {
    margin: auto;
    border-radius: 18px;
}

.card_text {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}