.container {
    margin-top: 70px;
    height: auto;
   
}
.content {
    display: flex;
    justify-content: center;
}



.btn__document {
    width: 120px;
    height: 30px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table {
    
}
