.container {
    margin-top: 70px;
    height: auto;
   
}
.content {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.input__search {
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icon_search {
    position: absolute;
    right: 27px;
    font-size: 25px;

}


.btn__document {
    width: 120px;
    height: 30px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    margin-top: 50px;
    max-width: 1280px;
}

.box__exam {
    max-width: 1280px;
    margin: auto;
    margin-top: 50px;
}
.box__card {
    margin-bottom: 20px;
}

.card__item {
    height: 320px;
}

.not__found{
    width: 100%;
    text-align: center;
    margin: 100px 0;
}