@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,900&display=swap');
@import '~bootstrap/scss/bootstrap';
:root {
    // --primary: #F68422;
    --text-title: #DCD7C9;
    --text-brown: #7F4924;
    --text: rgba(255, 255, 255, 0.50);
    --text-space: #D4D4D4;
    --color-white: #fff;
    --color-black: #000;
    --color-red: #DF2E38;
    --color-green: #609966;
    --color-origin: #FFA500;
    --background-color-image-item: #242424;
    --background-color-item: #2E2E2E;
    --background-box-bill: #1F1F1F;
    

    --primary: #007BFF;
    --secondary: #6C757D;
    --success: #28A745;
    --danger: #DC3545;
    --warning: #FFC107;
    --info: #17A2B8;
    --light: #F8F9FA;
    --dark: #343A40;

    --color-default : #f1f5f9;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--dark);
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-white);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}