.container {
    margin-top: 70px;
    height: 66vh;
   
}
.content {
    display: flex;
    justify-content: center;
}
.box__document {
    margin-top: 50px;
    width: 370px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--color-black);
    padding: 10px;
}

.box__document{
    display: flex;
    justify-content: start;
}
.title__document{
    text-align: center;
    margin: 21px;
}

.name__document,
.description{
    font-size: 19px;


}

.btn__document {
    width: 200px;
    height: 50px;
    font-size: 19px;
    margin-bottom: 10px;
}

.icon__download {
    font-size: 19px;
    margin-right: 15px;
}